@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #0a0a0a;
  color: #fff;
}

.carousel__pagination-button::after {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
  background: #00000032 !important;
}

.carousel__pagination-button--active::after {
  background: #000000 !important;
}

.carousel__next,
.carousel__prev {
  padding: 20px 8px !important;
}

#avaliacoes .carousel__pagination-button--active::after {
  background-color: #ef233c !important;
}

@media screen and (max-width: 520px) {
  .carousel__next svg,
  .carousel__prev svg {
    color: white;
  }

  #avaliacoes .carousel__next svg,
  #avaliacoes .carousel__prev svg {
    color: black;
  }

  #planos .carousel__pagination-button::after {
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    background: #fff3 !important;
  }

  #planos .carousel__pagination-button--active::after {
    background: #ffffffde !important;
  }
}
